@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>È possibile gestire una videoteca</p>
</div>

@section Scripts {
    <script src="~/js/pages/home_index.js"></script>
}