@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>






@section Styles {
    <link rel="stylesheet" href="~/css/pages/home_privacy.css" />
}

@section Scripts {
    <script src="~/js/pages/home_privacy.js"></script>
}